{% extends "main/base.html" %}

{% set active_page = "grades" %}

{% block title %}Toetscijfers{% endblock %}


{% block extra_headers %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main/grades/all_test_grades.css') }}">
{% endblock %}


{% block content %}
    <h1 id="page_title">Cijfers</h1>

    <div id="subpagemenu">
        <a class="subpagemenu-item active">
            Alle toetscijfers
        </a>
        <a class="subpagemenu-item" href="/cijfers/rapport">
            Rapportcijfers
        </a>
        <!-- Other subpages such as stats and stuff things -->
    </div>
    
    <div id="gradelist_container">
        {% for grade in gradelist %}
            <div class="gradeitem{% if grade.weging == 0 %} ignore{% endif %}">
                <div class="icon">{{ grade.icon | safe }}</div>
                <div class="subject-name">{{ grade.subject_nice }}</div>
                <div class="test-name">{{ grade.test_nice }}</div>
                <div class="secondary-info"><i class="fa-solid fa-calendar-day"></i> {{ grade.datetime_nice }} • <i class="fa-solid fa-scale-unbalanced"></i> {{ grade.weging }}x</div>
                <div class="grade-result">{{ grade.result }}</div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
