{% extends "main/base.html" %}

{% set active_page = "grades" %}

{% block title %}Toetscijfers{% endblock %}


{% block extra_headers %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main/grades/all_test_grades.css') }}">
{% endblock %}


{% block content %}
    <h1 id="page_title">Alle toetscijfers</h1>
    
    <div id="gradelist_container">
        {% for grade in gradelist %}
            <div class="gradeitem">
                <div class="icon">{{ grade.icon | safe }}</div>
                <div class="subject-name">{{ grade.subject_nice }}</div>
                <div class="test-name">{{ grade.test_nice }}</div>
                <div class="secondary-info">{{ grade.datetime_nice }}</div>
                <div class="grade-result">{{ grade.result }}</div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
