{% extends "pages/login/login_base.html" %}

{% block mainlogin %}
    <form method="post" action="/login/own_token">
        <div class="tokeninputcontainer">
            <label for="token">access_token</label>
            <input type="text" id="tokeninput" name="token" required>
        </div>

        <input type="submit" id="loginbutton" value="Inloggen">
    </form>
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            <div id="messages">
                {% for category, message in messages %}
                    <div class="message {{ category }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

{% endblock mainlogin %}

{% block otherlogin %}<a href="/login" class="otherloginmethod">Inloggen met school, gebruikersnaam en wachtwoord</a>{% endblock %}
