<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Somtomorrow</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/other/login.css') }}" />
        <link rel="icon" type="image/x-icon" href="/static/images/favs/fav.ico" />
    </head>
    <body>
        <div id="mainlogin" class="hide-on-load">
            <h1>
                Somtomorrow<!-- start devb --> (development version)<!-- end devb -->
            </h1>

            <h2>Inloggen met je Somtoday-account</h2>

            {% block mainlogin %}{% endblock %}

            {% with messages = get_flashed_messages(with_categories=True) %}
                <div id="messages">
                    {% for category, message in messages %}
                        <div class="message {{ category }}">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endwith %}
        </div>

        {% block othercontent %}{% endblock %}

        <div id="footer-container">
            <div id="secondarylogin" class="hide-on-load">
                <h2>Andere inlogmethodes</h2>

                <div class="otherloginmethodscontainer">
                    {% block otherlogin %}{% endblock %}
                    <!-- start devb -->
                    <a href="/login/devauto" class="otherloginmethod">Development auto-login</a>
                    <a href="/login/devtester" class="otherloginmethod">Development tester-token login</a>
                    <!-- end devb -->
                </div>
            </div>

            <div id="footer">
                <p>A <a href="https://dupunkto.org">{du}punkto</a> project. Made with <a href="https://github.com/pallets/flask" target="_blank">Flask</a> and <a href="https://github.com/pallets/jinja" target="_blank">Jinja</a>, hosted at <a href="https://eu.pythonanywhere.com/" target="_blank">PythonAnwyhere</a>.</p>
                <p>Version from commit <a href="https://git.dupunkto.org/~dupunkto/somtomorrow/commit/{{ latest_commit_hash_long }}">{{ latest_commit_hash }}</a> (committed on {{ latest_commit_date }} (UTC) by <a href="mailto:{{ latest_commit_author_email }}">{{ latest_commit_author_name }}</a>).</p>
                <p>Deployed on {{ latest_deploy_date }} (UTC).</p>
            </div>
        </div>
        {% block scripts %}{% endblock %}
    </body>
</html>
