<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %} - Somtomorrow</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/main/base.css') }}">
        <script src="https://kit.fontawesome.com/4a94c21782.js" crossorigin="anonymous"></script>
        {% block extra_headers %}{% endblock %}
    </head>
    <body>
        <header>
            <div id="profile">
                <img id="avatar" src="/static/images/puffin.jpg">
                <div id="userinfocontainer">
                    <span id="userinfoname">{{ g.first_name }} {{ g.last_name }}</span>
                    <span id="userinfoschool">{{ g.school_name }}</span>
                    <span id="userinfoclass">{{ g.main_class }}</span>
                </div>
            </div>
            <div id="menu">
                <a href="/dashboard" class="menu-item {% if active_page == 'dashboard' %}active{% endif %} primary">
                    Dashboard <i class="fa-solid fa-house-user"></i>
                </a>
                <a href="/rooster" class="menu-item {% if active_page == 'schedule' %}active{% endif %} primary">
                    Rooster <i class="fa-solid fa-calendar-days"></i>
                </a>
                <a href="/planner" class="menu-item {% if active_page == 'planner' %}active{% endif %} primary">
                    Planner <i class="fa-solid fa-clipboard-list"></i>
                </a>
                <a href="/cijfers" class="menu-item {% if active_page == 'grades' %}active{% endif %} primary">
                    Cijfers <i class="fa-solid fa-square-poll-vertical"></i>
                </a>
                <a href="/materialen" class="menu-item {% if active_page == 'materials' %}active{% endif %} primary">
                    Materialen <i class="fa-solid fa-book"></i>
                </a>
                <a href="/afwezigheid" class="menu-item {% if active_page == 'absence' %}active{% endif %} secondary">
                    Afwezigheid <i class="fa-solid fa-clock"></i>
                </a>
                <a href="/vakken" class="menu-item {% if active_page == 'classes' %}active{% endif %} secondary">
                    Vakken <i class="fa-solid fa-book-open"></i>
                </a>
                <a href="/schoolinformatie" class="menu-item {% if active_page == 'schoolinfo' %}active{% endif %} secondary">
                    Schoolinformatie <i class="fa-solid fa-school"></i>
                </a>
                <a href="/instellingen" class="menu-item {% if active_page == 'settings' %}active{% endif %} secondary">
                    Instellingen <i class="fa-solid fa-gears"></i>
                </a>
            </div>
            <a href="/logout" id="logout">
                Uitloggen <i class="fa-solid fa-right-from-bracket"></i>
            </a>
        </header>

        <main>
            {% block content %}{% endblock %}
        </main>

        <footer>
            <p>A <a href="https://dupunkto.org">{du}punkto</a> project</p>
            <p>Content and code are <strong>public domain</strong> under the <a href="https://unlicense.org/" target="_blank">Unlicense</a> and <a href="https://creativecommons.org/publicdomain/zero/1.0/" target="_blank">CC0</a></p>
            <p>Made with <a href="https://github.com/pallets/flask" target="_blank">Flask</a> and <a href="https://github.com/pallets/jinja" target="_blank">Jinja</a>, hosted at <a href="https://eu.pythonanywhere.com/" target="_blank">PythonAnwyhere</a></p>
            <!--<p>View the <a href="url" target="_blank">source code on GitHub</a></p>-->
        </footer>
    </body>
</html>