<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %} - Somtomorrow</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/main/base.css') }}">
        <script src="https://kit.fontawesome.com/4a94c21782.js" crossorigin="anonymous"></script>
        {% block extra_headers %}{% endblock %}
    </head>
    <body>
        <header id="sidebar">
            <div id="menu">
                <img src="/static/images/logo.png" id="logo">
                <a href="/dashboard" class="menu-item{% if active_page == 'dashboard' %} active{% endif %} primary">
                    <i class="fa-solid fa-house-user"></i> <span>Dashboard</span>
                </a>
                <a href="/rooster" class="menu-item{% if active_page == 'schedule' %} active{% endif %} primary">
                    <i class="fa-solid fa-calendar-days"></i> <span>Rooster</span>
                </a>
                <a href="/planner" class="menu-item{% if active_page == 'planner' %} active{% endif %} primary">
                    <i class="fa-solid fa-clipboard-list"></i> <span>Planner</span>
                </a>
                <a href="/cijfers" class="menu-item{% if active_page == 'grades' %} active{% endif %} primary">
                    <i class="fa-solid fa-square-poll-vertical"></i> <span>Cijfers</span>
                </a>
                <a href="/materialen" class="menu-item{% if active_page == 'materials' %} active{% endif %} primary">
                    <i class="fa-solid fa-book"></i> <span>Materialen</span>
                </a>
                <a href="/afwezigheid" class="menu-item{% if active_page == 'absence' %} active{% endif %} secondary">
                    <i class="fa-solid fa-clock"></i> <span>Afwezigheid</span>
                </a>
                <a href="/vakken" class="menu-item{% if active_page == 'classes' %} active{% endif %} secondary">
                    <i class="fa-solid fa-book-open"></i> <span>Vakken</span>
                </a>
                <!--<a href="/schoolinformatie" class="menu-item{% if active_page == 'schoolinfo' %} active{% endif %} secondary">
                    <i class="fa-solid fa-school"></i> <span>Schoolinformatie</span>
                </a>
                <a href="/instellingen" class="menu-item{% if active_page == 'settings' %} active{% endif %} secondary">
                    <i class="fa-solid fa-gears"></i> <span>Instellingen</span>
                </a>-->
            </div>
            <div id="logout">
                <a href="/logout" class="menu-item">
                    <i class="fa-solid fa-right-from-bracket"></i> <span>Uitloggen</span>
                </a>
            </div>
        </header>

        <main>
            <div id="profile">
                <img id="avatar" src="/identicon/{{ g.first_name }} {{ g.last_name }}">
                <div id="userinfocontainer">
                    <span id="userinfoname">{{ g.first_name }} {{ g.last_name }}</span>
                    <span id="userinfoschool">{{ g.school_name }}</span>
                    <span id="userinfoclass">{{ g.main_class }}</span>
                </div>
            </div>
            {% block content %}{% endblock %}
        </main>
    </body>
</html>
