<div class="absence-entriescontainer">
    {% if notificationsdata %}
        {% for entry in notificationsdata %}
            <div class="absence-entry">
                <span class="absence-type">{{ entry.absentieReden.absentieSoort }} /span>
                <span class="absence-reason">{{ entry.absentieReden.omschrijving }}</span>
                <span class="absence-permitted">{% if entry.absentieReden.geoorloofd %}Geoorloofd{% else %}Ongeoorloofd{% endif %}</span>
                <span class="absence-info">{{ entry.opmerkingen }}</span>
            </div>
        {% endfor %}
    {% else %}
        <div class="unavailable">Geen registraties</div>
    {% endif %}
</div>

<!-- Todo: put this in html lol 

This is the json structure (without all the mess)

{
   "absentieReden":{
      "absentieSoort":"Absent",
      "afkorting":"T",
      "omschrijving":"tandarts/orth.",
      "geoorloofd":true,
      "kiesbaarDoorVerzorger":true,
      "verzorgerMagTijdstipKiezen":true,
      "verzorgerEinddatumVerplicht":true,
      "standaardAfgehandeld":false
   },
   "datumTijdInvoer":"2024-09-17T12:11:22.677+02:00",
   "beginDatumTijd":"2024-09-18T11:30:00.000+02:00",
   "eindDatumTijd":"2024-09-18T12:50:00.000+02:00",
   "eindLesuur":5,
   "afgehandeld":true
}


-->
