<div class="weekcontainer planner">
    {% for day, day_name, current_day_class in zipped_data %}
        <div class="daycontainer">
            <div class="dayheader{% if current_day_class %} today{% endif %}">{{ day_name }}</div>
            {% if not day %}
                <div class="no-homework unavailable">Geen items op de planner!</div>
            {% else %}
                {% for homework in day %}
                    <div class="homeworkitem {{ homework.type }}">
                        <span class="subject-icon">{{ homework.icon | safe }}</span>
                        <span class="subject-name" data-subject-full="{{ homework.subject_long }}" data-subject-short="{{ homework.subject_short }}">{{ homework.subject_long }}</span>
                        <span class="homework-title">{{ homework.title }}</span>
                        <div class="homework-finished-container{{ ' finished' if homework.is_finished else ' unfinised' }}" id="{{ homework.id }}">
                            <!-- For homework that is finished on load -->
                            {% if homework.is_finished %}
                                <i class="fa-solid fa-check"></i>
                            {% endif %}
                        </div>

                        <div class="info-panel">
                            <div class="info-panel-tile-subject-title">
                                <div class="info-panel-tile-subject-main">
                                    <span class="info-panel-icon">{{ homework.icon | safe }}</span>
                                    <span class="info-panel-subject">{{ homework.subject_long }}</span>
                                </div>
                            </div>
                            <div class="info-panel-tile-type info-panel-tile">
                                <span class="info-panel-tile-title">Soort <i class="fa-solid fa-circle-info"></i></span>
                                <span class="info-panel-description">{{ homework.type.capitalize() }}</span>
                            </div>
                            <div class="info-panel-tile-content info-panel-tile">
                                <h1>{{ homework.studiewijzerItem.onderwerp }}</h1>
                                {{ (homework.studiewijzerItem.omschrijving or '<span class="unavailable">Geen verdere omschrijving</span>') | safe }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    {% endfor %}
</div>

<script>
    document.addEventListener("click", function (event) {
        document.querySelectorAll(".homeworkitem").forEach((hw) => {
            const hwPanel = hw.querySelector(".info-panel");
            const checkBox = hw.querySelector(".homework-finished-container");

            if (!checkBox.contains(event.target)) {
                if (hw.contains(event.target)) {
                    hw.classList.add("hw-active");
                    hwPanel.style.animation = "";
                } else if (hw.classList.contains("hw-active")) {
                    hwPanel.style.zIndex = 90;
                    hw.style.zIndex = 30;
                    hwPanel.style.animation = "slideDown 300ms ease-out forwards";
                    setTimeout(() => {
                        hw.classList.remove("hw-active");
                        hw.style.zIndex = "";
                        hwPanel.style.zIndex = "";
                    }, 300);
                }
            }
        });
    });
</script>

<script>
    function updatePlannerItem(id, state) {
        return fetch(`/api/finish_homework?id=${id}&action=${state}`, {
            method: "PUT",
        })
            .then((response) => {
                if (response.status === 200) return true;
                else return false;
            })
            .catch((error) => {
                console.error("Error updating planner item:", error);
                return false;
            });
    }

    const checkBoxes = document.querySelectorAll(".homework-finished-container");

    checkBoxes.forEach((checkBox) => {
        checkBox.addEventListener("click", async function () {
            let checkBoxId = checkBox.getAttribute("id");
            let isFinished = checkBox.classList.contains("finished");

            checkBox.innerHTML = '<img src="/api/loading.gif?speed=350">';

            let success = await updatePlannerItem(checkBoxId, isFinished ? "unfinish" : "finish");

            if (success) {
                checkBox.classList.toggle("finished");
                checkBox.classList.toggle("unfinished");

                if (checkBox.classList.contains("finished")) {
                    checkBox.innerHTML = '<i class="fa-solid fa-check"></i>';
                } else {
                    checkBox.innerHTML = "";
                }
            } else {
                // Try again

                let success2 = await updatePlannerItem(checkBoxId, isFinished ? "unfinish" : "finish");

                if (success2) {
                    checkBox.classList.toggle("finished");
                    checkBox.classList.toggle("unfinished");

                    if (checkBox.classList.contains("finished")) {
                        checkBox.innerHTML = '<i class="fa-solid fa-check"></i>';
                    } else {
                        checkBox.innerHTML = "";
                    }
                } else {
                    checkBox.innerHTML = '<i class="fa-solid fa-triangle-exclamation"></i>';
                    setTimeout(() => (checkBox.innerHTML = ""), 2000);
                }
            }
        });
    });
</script>
