<div class="weekcontainer">
    {% for day, day_name, current_day_class in zipped_data %}
        <div class="daycontainer">
            <div class="dayheader{% if current_day_class %} today{% endif %}">{{ day_name }}</div>
                <div class="dayitems">
                {% for i in range(18) %}
                    <div class="line"></div>
                {% endfor %}

                {% for appointment in day %}
                    <div class="appointment {{ appointment.type }}" style="
                        grid-row-start: {{ appointment.rowStart }};
                        grid-row-end: {{ appointment.rowEnd }};
                        margin-left: {{ appointment.position }}%;
                        width: {{ appointment.width }}%">
                        <span class="appo-icon">{{ appointment.icon | safe }}</span>
                        <span class="appo-title">{{ appointment.title }}</span>
                        <span class="appo-location">{{ appointment.locatie }}</span>
                        <div class="appo-time-container">
                            <span class="appo-time">{{ appointment.start_time }} - {{ appointment.end_time }}</span>
                            <span class="appo-hours">{{ appointment.lesson_hours }}</span>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>