<div class="weekcontainer schedule">
    <div class="daycontainer timescontainer">
        <div class="dayheader"></div>
        <div class="dayitems timeitems">
            <div class="time">07:00</div>
            <div class="time">08:00</div>
            <div class="time">09:00</div>
            <div class="time">10:00</div>
            <div class="time">11:00</div>
            <div class="time">12:00</div>
            <div class="time">13:00</div>
            <div class="time">14:00</div>
            <div class="time">15:00</div>
            <div class="time">16:00</div>
            <div class="time">17:00</div>
            <div class="time">18:00</div>
            <div class="time">19:00</div>
            <div class="time">20:00</div>
            <div class="time">21:00</div>
            <div class="time">22:00</div>
            <div class="time">23:00</div>
            <div class="time">00:00</div>
        </div>
    </div>
    {% for day, day_name, current_day_class in zipped_data %}
        <div class="daycontainer">
            <div class="dayheader{% if current_day_class %} today{% endif %}">{{ day_name }}</div>
                <div class="dayitems">
                {% for i in range(18) %}
                    <div class="line"></div>
                {% endfor %}

                {% for appointment in day %}
                    <div class="appointment {{ appointment.type }}"
                        style="grid-row-start: {{ appointment.rowStart }};
                        grid-row-end: {{ appointment.rowEnd }};
                        margin-left: {{ appointment.position }}%;
                        width: {{ appointment.width }}%">
                        <div class="appo-subject">
                            <span class="appo-icon">{{ appointment.icon | safe }}</span>
                            <span class="appo-title">{{ appointment.title }}</span>
                        </div>
                        <span class="appo-location">{{ appointment.locatie }}</span>
                        <div class="appo-panel">
                            <div class="appo-panel-tile-subject-title">
                                <div class="appo-panel-tile-subject-main">
                                    <span class="appo-panel-icon">{{ appointment.icon | safe }}</span>
                                    <span class="appo-panel-subject">{{ appointment.title_full }}</span>
                                </div>
                                <span class="appo-panel-tile-title-main">{{ appointment.titel }}</span>
                            </div>
                            <div class="appo-panel-tile-location appo-panel-tile">
                                <span class="appo-panel-tile-title">Locatie <i class="fa-solid fa-location-dot"></i></span>
                                <span class="appo-panel-location">{{ appointment.locatie }}</span>
                            </div>
                            <div class="appo-panel-tile-time appo-panel-tile">
                                <span class="appo-panel-tile-title">Tijd <i class="fa-solid fa-clock"></i></span>
                                <span class="appo-panel-time">{{ appointment.lesson_hours }}: {{ appointment.start_time }} - {{ appointment.end_time }}</span>
                            </div>
                            <div class="appo-panel-tile-description appo-panel-tile">
                                <span class="appo-panel-tile-title">Omschrijving <i class="fa-solid fa-circle-info"></i></span>
                                <span class="appo-panel-description">{{ appointment.omschrijving }}</span>
                            </div>
                            <div class="appo-panel-tile-classgroup appo-panel-tile">
                                <span class="appo-panel-tile-title">Lesgroep <i class="fa-solid fa-users"></i></span>
                                <span class="appo-panel-classgroup">{{ appointment.lesgroepen | map(attribute="naam") | join(", ") }}</span>
                            </div>
                            <div class="appo-panel-tile-teachers appo-panel-tile">
                                <span class="appo-panel-tile-title">Docent(en) <i class="fa-solid fa-user"></i></span>
                                <span class="appo-panel-teachers">{{ appointment.docentNamen | join(", ") }}</span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>


<script>
    document.addEventListener("click", function (event) {
        document.querySelectorAll(".appointment").forEach(appo => {
            const appoPanel = appo.querySelector(".appo-panel");


            if (appo.contains(event.target)) {
                appo.classList.add("appo-active");
                appoPanel.style.animation = "";
            } else {
                appo.style.zIndex = 30;
                appoPanel.style.animation = "slideDown 300ms ease-out forwards";
                setTimeout(() => {
                    appo.classList.remove("appo-active");
                    appo.style.zIndex = "";
                }, 300);
            }
        });
    });
</script>
