img.icon {
    height: 1em;
    font-size: unset;
}

.gradeitem {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.gradeitem {
    display: grid;
    grid-template-columns: 3em 1fr auto;
    grid-template-rows: auto auto auto;
    grid-column-gap: 0;
    grid-row-gap: 0;
    align-items: center;
    border: 2px solid #333;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.icon {
    grid-area: 1 / 1 / 4 / 2;
    font-size: 1.2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.subject-name {
    grid-area: 1 / 2 / 2 / 3;
    font-size: 1.1em;
    font-weight: 700;
    align-self: flex-end;
    user-select: none;
}

.test-name {
    grid-area: 2 / 2 / 3 / 3;
    font-size: 0.9em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 2px 0;
    font-weight: 500;
    align-self: flex-start;
    user-select: none;
}

.secondary-info {
    grid-area: 3 / 2 / 4 / 3;
    font-size: 0.8em;
    color: #aaa;
}

.grade-result {
    grid-area: 1 / 3 / 4 / 4;
    font-size: 1.5em;
    font-weight: 700;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    height: 2.5em;
}

.grade-result i {
    font-size: 0.5em;
    align-content: center;
    color: var(--gray);
}

.grade-result i.purple {
    color: var(--light-purple);
}

.gradeitem.confetti .grade-result,
.grade-confetti {
    color: var(--green);
}

.grade-fail {
    color: var(--red);
}

#gradelist-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: auto;
    max-width: 600px;
    gap: 20px;
}

.gradeitem.ignore div {
    color: var(--gray);
}

.gradeitem.open,
.gradeitem:hover {
    border-color: var(--light-purple);
}

.gradeitem.open .test-name {
    overflow: unset;
    text-overflow: unset;
    white-space: unset;
}

.extrainfo {
    display: none;
}

.gradeitem.open .extrainfo {
    grid-area: 3 / 1 / 4 / 4;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 5px 10px;
    font-size: 0.9em;
}

.extrainfo i {
    margin-inline-end: 5px;
}

.gradeitem.open .secondary-info {
    display: none;
}

.gradeitem.open .icon {
    grid-area: 1 / 1 / 3 / 2;
}

.gradeitem.open .grade-result {
    grid-area: 1 / 3 / 3 / 4;
}

.retake-container {
    margin-top: 20px;
}

.retake-title {
    font-size: 1.2em;
    font-weight: bold;
}

.retake-attempt {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
}

.retake-info {
    display: flex;
    flex-direction: column;
}

.retake-number {
    font-weight: bold;
}

.retake-result {
    font-size: 1.2em;
    font-weight: bold;
}

.retake-effective-result {
    background: var(--purple);
    width: fit-content;
    padding: 5px 10px;
    border-radius: 15px;
    color: white;
    font-weight: bolder;
    flex-grow: 1;
    max-width: fit-content;
    align-content: center;
    height: fit-content;
}

.retake-infocontainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}
