<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Somtomorrow</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/other/login.css') }}">
    </head>
    <body>
        <div id="mainlogin">
            <h1>Somtomorrow</h1>

            <form method="post" action="/login/own_token">
                <div class="tokeninputcontainer">
                    <label for="token">access_token</label>
                    <input type="text" id="tokeninput" name="token" required>
                </div>

                <input type="submit" id="loginbutton" value="Inloggen">
            </form>
                {% with messages = get_flashed_messages(with_categories=True) %}
                    {% if messages %}
                        <div id="messages">
                            {% for category, message in messages %}
                                <div class="message {{ category }}">{{ message }}</div>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}
        </div>

        <div id="secondarylogin">
            <h2>Andere inlogmethodes</h2>

            <div class="otherloginmethodscontainer">
                <a href="/login" class="otherloginmethod">Inloggen met school, gebruikersnaam en wachtwoord</a>
                <a href="/login/dev" class="otherloginmethod">Development auto-login</a>
            </div>
        </div>

        <span id="imgcredit">Foto van <a href="https://unsplash.com/@mariamsoliman">Mariam Soliman</a> via <a href="https://unsplash.com/photos/silhouette-of-camel-Ht5XmeuLyDg">Unsplash</a></span>
    </body>
</html>
