#current-week-container {
    margin-inline: 10px;
}

#pagemenu {
    margin-bottom: 2em;
    margin-top: -1em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1em;
}

.pagemenu-item,
#go-to-current-week {
    padding: 10px;
    display: inline-block;
    border-radius: 10px;
    cursor: pointer;
}

#go-to-current-week {
    border: 1px solid var(--gray);
}

.pagemenu-item:hover,
#go-to-current-week:hover {
    background: var(--dark-purple);
    border-color: var(--dark-purple);
}
