@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --black: #0f212e;
    --white: #eaf2ef;
    --gray: #6b6d76;
    --yellow: #ffa630;
    --red: #e65039;
    --green: #06c749;
    --purple: #6822cb;
    --light-purple: #823ce5;
    --dark-purple: #511b9e;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: inherit;
}

body {
    font-family: sans-serif;
    padding: 40px;
    background: var(--purple) url("/static/images/camel.jpg");
    background-blend-mode: luminosity;
    color: white;
    background-size: cover;
    height: 100vh;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    font-family: "Ubuntu", sans-serif;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.2em;
}

label {
    font-size: 1.3em;
}

form {
    margin-top: 30px;
}

form div {
    display: flex;
    flex-direction: column;
}

form input {
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 7.5px;
    border: none;
    padding: .5em .7em;
    max-width: 300px;
    outline: 2px solid #aaa;
    font-size: 1em
}

form input:focus {
    outline: 2px solid #002244;
}


form #loginbutton {
    color: black;
    background: white;
    padding: 7.5px;
    margin-top: 10px;
    font-size: 1.2em;
    font-weight: bold;
    outline: none;
    margin-bottom: 0;
}

form #loginbutton:hover,
.otherloginmethod:hover {
    background: #6822cb;
    color: white;
}

.otherloginmethodscontainer {
    display: flex;
    gap: 0.5em;
    flex-wrap: wrap;
}

.otherloginmethod {
    text-decoration: none;
    outline: none;
    color: black;
    background: white;
    margin-top: 5px;
    display: block;
    width: fit-content;
    padding: 7.5px 15px;
    border-radius: 7.5px;
    font-size: .8em;
    font-weight: normal;
}

#secondarylogin {
    position: absolute;
    bottom: 5vh;
    left: 40px;
}

#imgcredit {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-weight: normal;
    font-size: .8em;
}

#imgcredit a {
    color: inherit;
}

#messages {
    margin-top: 23px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.message {
    border-radius: 8px;
    padding: 7px;
    width: fit-content;
}

.message.error {
    background: var(--red);
}
