@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root {
    --black: #0f212e;
    --white: #eaf2ef;
    --gray: #687784;
    --yellow: #ffa630;
    --red: #e65039;
    --green: #06c749;
    --purple: #6822cb;
    --light-purple: #9759ee;
    --dark-purple: #511b9e;
}

:root {
    --front: white;
    --back: #081117;
}

[data-theme="light"] {
    --front: black;
    --back: white;
}

a {
    color: var(--light-purple);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    margin: 0;
    height: 100vh;
    background-color: var(--back);
    color: var(--front);
    font-family: "Ubuntu", sans-serif;
}

main {
    padding: 20px;
    margin-left: 60px;
}

#sidebar {
    display: flex;
    flex-direction: column;
    background: var(--purple);
    position: fixed;
    width: 60px;
    height: 100%;
}

#menu {
    display: flex;
    flex-direction: column;
}

.menu-item {
    width: 100%;
    text-decoration: none;
    position: relative;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5em;
}

.menu-item span {
    display: none;
    font-size: 0.55em;
    position: absolute;
    background: var(--dark-purple);
    color: white;
    padding: 7px 10px;
    left: 120%;
    border-radius: 5px;
}

.menu-item:hover span {
    display: unset;
}

.menu-item.active {
    background: var(--dark-purple);
}

.menu-item:not(.active):hover {
    background: var(--light-purple);
}

#logo {
    margin-bottom: 0.55em;
}

#logout {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#profile {
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    align-items: center;
    margin-right: 10px;
}

#userinfocontainer {
    display: flex;
    flex-direction: column;
    width: max-content;
    max-width: 175px;
    align-items: flex-end;
}

#userinfoname {
    font-size: 1.1em;
    font-weight: 700;
}

#userinfoschool,
#userinfoclass {
    font-size: .9em;
    color: #aaa;
    font-weight: 400;
}

#avatar {
    aspect-ratio: 1/1;
    height: 3.5em;
    object-fit: cover;
}

#page-title {
    text-align: center;
    margin-bottom: 15px;
}

#subpagemenu {
    margin: 0 0 35px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}

.subpagemenu-item {
    color: inherit;
    text-decoration: none;
    border: 2px solid #aaa;
    padding: 10px;
    border-radius: 10px;
    font-weight: 600;
    width: 200px;
    text-align: center;
}

.subpagemenu-item.active, .subpagemenu-item:hover {
    border: 2px solid var(--light-purple);
}

#content:has(.error-page) {
    height: 100%;
    display: flex;
    align-items: center;
}

.error-page {
    text-align: center;
    max-width: 400px;
    margin: auto;
}

.error-title {
    color: var(--purple);
    font-family: monospace;
    font-size: 6em;
}

.error-message {
    font-size: 1.2em;
    margin-bottom: 2em;
}

body:has(main .error-page.False) #sidebar, body:has(main .error-page) #profile {
    display: none;
}

#island-loading {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#island-loading img {
    height: 50px;
    aspect-ratio: 1/1;
}
