@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --black: #0f212e;
    --whiteblue: #d1e3f0;
    --white: #eaf2ef;
    --gray: #6b6d76;
    --darkblue: #28587b;
    --lightblue: #0f95b0;
    --yellow: #ffa630;
    --red: #e65039;
    --green: #06c749;
}

:root {
    --front: white;
    --back: black;
}

[data-theme="light"] {
    --front: black;
    --back: white;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background-color: var(--back);
    height: 100vh;
    margin: 0;
    color: var(--front);
    font-family: 'Montserrat', sans-serif;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

main {
    flex-grow: 1;
}

header {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

#profile {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

#userinfocontainer {
    display: flex;
    flex-direction: column;
}

#userinfoname {
    font-size: 1.1em;
    font-weight: 700;
}

#userinfoschool,
#userinfoclass {
    font-size: .9em;
    color: #aaa;
    font-weight: 400;
}

#avatar {
    aspect-ratio: 1/1;
    border-radius: 10px;
    height: 3.5em;
}

#menu {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.menu-item, #logout {
    color: inherit;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    border-width: 2px 0px;
    border-color: transparent;
    border-style: solid;
}

.menu-item.active, .menu-item:hover, #logout:hover {
    padding: 10px 0;
    border-bottom: 2px solid white;
}

footer {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #888;
}

footer a {
    color: inherit;
}
