#dashboard-tiles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.tile {
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: center;
    gap: 20px;
}

.tile-title {
    color: inherit;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 700;
}

.tile-title:hover {
    color: var(--light-purple);
}
