#big-logo {
    height: 3em;
}

#logo-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-weight: bolder;
    font-size: 2em;
}

a {
    color: inherit;
}

#version-info {
    font-size: 0.8em;
    color: var(--gray);
    margin-bottom: 3em;
}

#latest-commit-hash {
    text-decoration: none;
    font-weight: bolder;
}
