#weekcontainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 20px;
}

.daycontainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: stretch;
}

.dayheader {
    text-align: center;
}

.homeworkitem {
    border: 1px solid var(--gray);
    padding: 10px;
    border-radius: 10px;
    font-size: .7em;
    hyphens: auto;
    display: flex;
    flex-direction: column;
}

.subject-name {
    font-size: 1.3em;
    font-weight: 800;
}

.homework-header img {
    height: 1em;
}