.weekcontainer {
    display: grid;
    grid-template-columns: auto repeat(5, 1fr);
    column-gap: 20px;
}

.daycontainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: stretch;
}

.dayheader {
    text-align: center;
    padding: 5px 10px;
    height: 2.5em;
    align-items: center;
    display: flex;
    justify-content: center;
}

.dayheader.today {
    background: var(--purple);
    border-radius: 15px;
    color: white;
    width: fit-content;
    font-weight: bolder;
    margin: auto;
}

.dayitems {
    position: relative;
    height: 100vh;
}

.dayitems .line {
    position: absolute;
    width: 100%;
    border-bottom: 2px solid #333;
}

.timeitems {
    width: 3em;
}

.timeitems .time {
    position: absolute;
    transform: translate(0, -50%);
    text-align: right;
    width: 100%;
}

.appointment {
    color: white;
    border-radius: 10px;
    border: 1px solid #666;
    background: var(--back);
    padding: 5px 10px;
    z-index: 30;
    grid-column: 1 / -1;
    hyphens: auto;
    display: flex;
    align-items: center;
    font-size: 0.9em;
    gap: 5px;
    cursor: pointer;
    transition: 200ms all ease-in-out;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
    position: absolute;
}

.appointment:hover,
.appo-active {
    border-color: var(--light-purple);
    background: var(--highlight-purple);
}

.appo-active {
    z-index: 60;
}

.appo-active .info-panel {
    display: flex;
}

.appo-subject {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    gap: 5px;
    flex-wrap: wrap;
    overflow: hidden;
}

.appo-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.appo-icon img {
    height: 1em;
}

.appo-title {
    font-weight: 800;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    min-width: 5ch;
    flex-grow: 1;
}

.appo-location {
    font-size: 0.9em;
}

.info-panel-tile-subject-title {
    align-self: center;
    flex-grow: 5;
}

.info-panel-tile-subject-title img {
    height: 1em;
}

.info-panel-tile {
    padding: 10px;
    border: 1px solid #aaa;
    width: fit-content;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    min-width: fit-content;
    flex-grow: 1;
    max-width: 250px;
    font-weight: 900;
}

.info-panel-tile-title {
    font-size: 0.8em;
    color: #aaa;
    margin-bottom: 0.5em;
    font-weight: 300;
}

.info-panel-tile-title i {
    margin-inline-start: .25em;
}

.info-panel-tile-subject-main {
    font-weight: 900;
    font-size: 1.8em;
}
.info-panel-tile-title-main {
    color: #aaa;
}
