.weekcontainer {
    display: grid;
    grid-template-columns: auto repeat(5, 1fr);
    column-gap: 15px;
}

.daycontainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: stretch;
}

.dayheader {
    text-align: center;
    padding: 5px 10px;
    height: 2.5em;
    align-items: center;
    display: flex;
    justify-content: center;
}

.dayheader.today {
    background: var(--purple);
    border-radius: 15px;
    color: white;
    width: fit-content;
    font-weight: bolder;
    margin: auto;
}

.dayitems {
    position: relative;
    height: 90vh;
}

.dayitems .line {
    position: absolute;
    width: 100%;
    border-bottom: 2px solid #333;
}

.timeitems {
    width: 3em;
}

.timeitems .time {
    position: absolute;
    transform: translate(0, -50%);
    text-align: right;
    width: 100%;
}

.appointment {
    color: white;
    border-radius: 10px;
    border: 1px solid #666;
    background: var(--back);
    padding: 10px;
    z-index: 30;
    hyphens: auto;
    cursor: pointer;
    transition: 200ms all ease-in-out;
    overflow: hidden;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
}

.appointment:hover,
.appo-active {
    border-color: var(--light-purple);
    background: var(--highlight-purple);
}

.appo-active {
    z-index: 60;
}

.appo-active .info-panel {
    display: flex;
}

.appo-subject {
    display: flex;
    flex-direction: row;
    gap: 5px;
    overflow: hidden;
    flex-grow: 1;
    margin-right: 5px;
}

.appo-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8em;
}

.appo-icon img {
    height: 1em;
}

.appo-title {
    font-weight: 800;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    min-width: 5ch;
    flex-grow: 1;
}

.appo-location {
    font-size: 0.9em;
}

#current-line {
    z-index: 40;
    width: 110%;
    left: -5%;
    border-radius: 100px;
    opacity: 0.75;
    border-bottom: 4px solid var(--purple);
}
