{% extends "pages/main/base.html" %}

{% set active_page = "absence" %}

{% block title %}Absentie{% endblock %}

{% block extra_headers %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main/absence.css') }}" />
{% endblock %}

{% block content %}
    <!--Todo: add tooltips to explain the difference between registrations and notifications -->

    <div>
        <h1 class="island-title">Registraties</h1>
        <du-island url="absence/registrations"></du-island>
    </div>
    <div>
        <h1 class="island-title">Absentiemeldingen</h1>
        <du-island url="absence/notifications"></du-island>
    </div>
{% endblock %}
