{% extends "pages/main/base.html" %}

{% set active_page = "dashboard" %}

{% block title %}Dashboard{% endblock %}

{% block extra_headers %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main/dashboard.css') }}" />

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main/grades/testgrades.css') }}" />
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.9.3/dist/confetti.browser.min.js"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main/planner.css') }}" />

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main/schedule.css') }}" />

    <style>
        .weekcontainer.planner {
            grid-template-columns: 1fr;
        }

        .weekcontainer.schedule {
            grid-template-columns: auto 1fr;
        }
    </style>
{% endblock %}

{% block content %}
    <h1 id="page-title">Welkom, {{ g.first_name }}!</h1>

    <div id="tile-container">
        <div class="tile">
            <a class="tile-title" href="/cijfers/toetscijfers">Laatste cijfers</a>
            <du-island url="grades/testgrades?max=5" />
        </div>

        <div class="tile">
            <a class="tile-title" href="/planner">Planner</a>
            <du-island url="planner?days=today" />
        </div>

        <div class="tile">
            <a class="tile-title" href="/rooster">Rooster</a>
            <du-island url="schedule?days=today" />
        </div>
    </div>
{% endblock %}
