{% extends "base.html" %}

{% set active_page = "dashboard" %}

{% block title %}Dashboard{% endblock %}


{% block extra_headers %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main/dashboard.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main/grades/all_test_grades.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.9.3/dist/confetti.browser.min.js"></script>
{% endblock %}


{% block content %}
    <h1 id="page-title">Welkom, {{ g.first_name }}!</h1>

    <div id="dashboard-tiles">
        <div class="tile">
            <h2 class="tile-title">Laatste cijfers</h2>
            <div class="island" island-url="grades/testgrades?max=5"></div> 
        </div>
    </div>

    <style>
        .calendar {
            display: grid;
            grid-template-rows: repeat(calc(12*18), minmax(10px, 1fr));
        }

        .line {
            padding-bottom: 5px;
            border-bottom: 1px solid white;
        }

        .line:nth-child(1) { grid-row: 12 }
        .line:nth-child(2) { grid-row: 24 }
        .line:nth-child(3) { grid-row: 36 }
        .line:nth-child(4) { grid-row: 48 }
        .line:nth-child(5) { grid-row: 60 }
        .line:nth-child(6) { grid-row: 72 }
        .line:nth-child(7) { grid-row: 84 }
        .line:nth-child(8) { grid-row: 96 }
        .line:nth-child(9) { grid-row: 108 }
        .line:nth-child(10) { grid-row: 120 }
        .line:nth-child(11) { grid-row: 132 }
        .line:nth-child(12) { grid-row: 144 }
        .line:nth-child(13) { grid-row: 156 }
        .line:nth-child(14) { grid-row: 168 }
        .line:nth-child(15) { grid-row: 180 }
        .line:nth-child(16) { grid-row: 192 }
        .line:nth-child(17) { grid-row: 204 }
        .line:nth-child(18) { grid-row: 216 }
    </style>

    <div class="calendar">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>

        <!--
            from: (8-6) * 12 + round(30/60 * 12) + 1 = 31
            to: (10-6) * 12 + round(10/60 * 12) + 1 = 51
        -->
        <div class="appointment" style="grid-row-start: 31; grid-row-end: 51; background: red;">
            Wiskunde C
            8:30-10:10
        </div>
   </div>
{% endblock %}
