{% extends "base.html" %}

{% set active_page = "planner" %}

{% block title %}Planner{% endblock %}


{% block extra_headers %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main/planner.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/snippets/controllable_weeks.css') }}">
{% endblock %}


{% block content %}
    {% with api_url="planner" %}
        {% include 'snippets/controllable_weeks.html' %}
    {% endwith %}

    <du-island url="planner" />
{% endblock %}
