{% extends "base.html" %}

{% set active_page = "schedule" %}

{% block title %}Rooster{% endblock %}


{% block extra_headers %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main/schedule.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/snippets/controllable_weeks.css') }}">
{% endblock %}


{% block content %}
    {% with api_url="schedule" %}
        {% include 'snippets/controllable_weeks.html' %}
    {% endwith %}

    <d-island url="schedule" />
{% endblock %}
